<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-icon name="md-game-controller-b"></ion-icon>{{genre.name}}</ion-title>
    <ion-buttons end>

      <button ion-button icon-start class="btn-txt" (click)="openFavorites()">
        <ion-icon name="star" ></ion-icon>
      </button>
      <button ion-button icon-start class="btn-txt">
        <ion-icon name="funnel" (click)="openGenres()"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="search" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">
 <ion-fab top right style="position :unset" >
      <button ion-fab ><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="left" >
        <button ion-fab><ion-icon name="add" ></ion-icon></button>
        <button ion-fab><ion-icon name="add" ></ion-icon></button>
        <button ion-fab><ion-icon name="add" ></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  <div *ngIf="games">
    <ion-card *ngFor="let game of games">
      <div *ngIf="game.screenshots; then gamescreen else noscreen"></div>
      <ng-template #gamescreen>
        <div class="game-image">
          <img class="tinted" src="https://images.igdb.com/igdb/image/upload/t_screenshot_med_2x/{{game.screenshots[0].cloudinary_id}}.jpg" alt="">
        </div>
      </ng-template>
      <ng-template #noscreen>
        <div class="game-image">
          <img src="assets/imgs/blank.png" class="tinted" alt="">
        </div>
      </ng-template>

      <div class="" *ngIf="favourites.indexOf(game.id) == '-1'; then fav else remove"></div>
      <ng-template #fav>
        <button ion-button outline medium color="primary" icon-only (click)="favourite(game.id)">
          <ion-icon name="star"></ion-icon>
        </button>
      </ng-template>
      <ng-template #remove>
        <button ion-button outline medium color="primary" icon-only (click)="removeFavourite(game.id)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ng-template>
      <div class="card-title">{{game.name}}</div>
      <div class="card-subtitle" *ngIf="game.release_dates">{{game.release_dates[0].m}} / {{game.release_dates[0].y}}</div>
    </ion-card>
  </div>
</ion-content>
